@charset "UTF-8";

#header-div{
	 border-width:2px; 
	 position: relative;"
	 display:inline;
}

#conteudo-div{
	 border-width:2px; 
	 border-color:green; 
	 border-style:solid;"
}

#footer-div{
	 border-width:2px; 
	 border-color:green; 
	 border-style:solid;"
}